
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Message</title>
</head>
<body>
    <div>
        <p>Hello World!</p>
    </div>
    <div> 
        @RenderBody()
    </div>
    <div>
        <p>MVC Bootcamp is started!</p>
    </div>
</body>
</html>
